---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: monitoring
spec:
  interval: 24h
  url: https://prometheus-community.github.io/helm-charts
  insecure: true
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: monitoring
spec:
  targetNamespace: monitoring
  storageNamespace: monitoring
  releaseName: monitoring
  interval: 40m
  timeout: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: monitoring
      interval: 12h
  driftDetection:
    mode: enabled
    ignore:
      - paths: ["/spec/replicas"]
        target:
          kind: Deployment
  install:
    timeout: 5m
    remediation:
      retries: 3
  upgrade:
    timeout: 5m
